@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: thin1;
    src: url(./NeueHaasDisplayThin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neu';
}

html,
body{
    width: 100%;
    height: 100%;   
    background-color: #EFE9E3;
}

#main {
  position: relative;
  z-index: 99;
}

.page1{
    width: 100%;
    min-height: 100vh;
    background-color: #EFE9E3;
}

#page1 video{
    width: 100%;
}

#center{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    padding-bottom: 2.5vw;
    padding-top: 3vw;
}



#center-left  h3{
    margin-left: 2vw;
    width: 50vw;
    font-size: 1.8vw;
    line-height: 2vw;
    font-weight: 100;
    letter-spacing: .2vw;
    font-family: thin1;
}

#center-right h1{
    margin-right: 2vw;
    font-size: 8vw;
    text-align: right;
    line-height: 8vw;
}
#center-right{
    line-height:0vw;
}

#page2{
    width: 100%;
    min-height: 100vh;
    background-color: #EFE9E3;
}

.gallery{
  min-height: 100vh;
  background:#eee;
  padding-bottom: 100px;
}

.gallery .image-container {
  display: none ;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
  background-color: #EFE9E3;
}

.gallery .image-container .image{
  height:250px;
  width: 350px;
  overflow: hidden;
  border:15px solid #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  margin: 20px;
}

.gallery .image-container .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .image-container .image:hover img{
  transform: scale(1.4);
  transition: all 0.5s ease-in-out;
}

 .video-container{
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.gallery .video-container iframe{
  margin: 2vw;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #EFE9E3;
  
}
.button {
  margin:  2vw;
  display: inline-block;
  padding: 8px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.2s  cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #fe330a;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #fe330a;
}

.button:hover:before {
  top: -35%;
  background-color: #fe330a;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button.active{
  background-color: #fe330a;
  color: #fff;
}
.button:hover:after {
  top: -45%;
  background-color: #fe330a;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.active {
  display: flex !important;
}




/*   MOBOLE VIEW   CSS*/

#full-scr {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.489);
  position: fixed;
  z-index: 99;
  top: -200%;
  transition: all ease 0.6s;
}

#full-scr #full-div1 {
  width: 100%;
  height: 70%;
  background-color: #EFE9E3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.nav-phone {
  width: 100%;
  height: 100%;
  padding-top: 7em;
}

.nav-phone ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 2vw;
  font-size: 2vw;
  font-weight: 600;
  cursor: pointer;
}

.nav-phone ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}


.nav-phone ul li a {
  line-height: 2vw;
  text-decoration: none;
  color: #fe330a;
  text-transform: uppercase;
  font-size: 5vh;



}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .nav-phone ul li a {
      line-height: 1vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .nav-phone ul li a {
      line-height: 4vw;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .nav-phone ul li a {
      line-height: 5.8vw;
  }

}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .nav-phone ul li a {
      line-height: 8vw;
  }
}

@media screen and (min-width: 200px) and (max-width: 300px) {
  .nav-phone ul li a {
      line-height: 10vw;
  }
}
